/* Alphabetized */
/* A */
/* B */
body {
    background-color: gray;
}

button 
{
    border-radius: 8px;
    border-color: gold;
    background-color: rgb(172, 172, 172);
}

/* C */

.Container
{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.centered
{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#clicker
{
    font-size: 2rem;
    padding: 1rem 2rem;
}

/* D */
/* E */
/* F */
/* G */
/* H */
/* I */
/* J */
/* K */
/* L */
/* M */
/* N */
/* O */
/* P */

p
{
    font-size: 2rem;
}

/* Q */
/* R */
#rewards {
    display: flex;
    justify-content: center;
    gap: 1rem;
    border: 1px solid gold;
    border-radius: 30px;
    width: 50%;
    margin: auto;
}
/* S */

#score
{
    display: flex;
    justify-content: center;
    font-size: 4rem;

}

/* T */
/* U */

.upg-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.upg-btn
{
    font-size: 2rem;
    padding: 1rem 2rem;
}

.upg-cost
{
    font-size: 2rem;
}

/* V */
/* W */
/* X */
/* Y */
/* Z */