.vert
{
    display: flex;
    justify-content: center;
    flex-direction: column;
}



.centered
{
    display: flex;
    justify-content: center;
    flex-direction: column;
   
}

#score
{
    display: flex;
    justify-content: center;
}


.upg-div {
    display: flex;
    gap: 1rem;
}